
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <4>;
        rows = <5>;

        /* * Edited
         */
        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3)
RC(1,0) RC(1,1) RC(1,2)
RC(2,0) RC(2,1) RC(2,2) RC(2,3)
RC(3,0) RC(3,1) RC(3,2)
RC(4,0)         RC(4,2) RC(4,3)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        /* Rows R0-R4 */
        row-gpios
            = <&gpio0 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* R0 P0.06 */
            , <&gpio0 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* R1 P0.08 */
            , <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* R2 P0.17 */
            , <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* R3 P0.20 */
            , <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* R4 P0.22 */
            ;

        /* Columns C0-C3 */
        col-gpios
            = <&gpio0 24 GPIO_ACTIVE_HIGH> /* C0  P0.24 */
            , <&gpio1 0  GPIO_ACTIVE_HIGH> /* C1  P1.00 */
            , <&gpio0 11 GPIO_ACTIVE_HIGH> /* C2  P0.11 */
            , <&gpio1 4  GPIO_ACTIVE_HIGH> /* C3  P1.04 */
            ;
    };
};
